{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>ID</th>
            <th>Title</th>
            <th>Create date</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %}
            {% for question in question_list %}
                <tr>
                    <td>{{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}</td>
                    <td>
                        <a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>
                        {% if question.answer_set.count > 0 %}
                            <span class="text-danger small ml-2">{{ question.answer_set.count }}</span>
                        {% endif %}
                    </td>
                    <td>{{ question.create_date }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">no question here.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <!-- page handling-->
    <ul class="pagination justify-content-center">
        <!-- previous page -->
        {% if question_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ question_list.previous_page_number }}">previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">previous</a>
            </li>
        {% endif %}

        <!-- page list -->
        {% for page_number in question_list.paginator.page_range %}
            {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
                {% if page_number == question_list.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        <!-- next page -->
        {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ question_list.next_page_number }}">next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">next</a>
            </li>
        {% endif %}
    </ul>

    <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">Registering Questions</a>
</div>

{% endblock %}